.main {
    color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-title {
    font-size: 35px;
    margin-top: 6%;
    text-align: center;
}

.google-button {
    font-size: large;
}

.input-note {
    width: 30%;
    padding: 20px;
    padding-top: 0px;
    padding-bottom: 5px;
    border-radius: 20px;
    border-color: #52565B;
    border-style: groove;
}

.allNotes {
    width: 90%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.note {
    border-radius: 20px;
    border-color: #52565B;
    border-style: groove;
    margin-left: 25px;
    width: 40%;
    max-width: 300px;
    min-height: 150px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

p.active {
    font-style: italic;
}

.note-title {
    font-size: 20px;
}

.note-text {
    font-size: 15px;
}

.deleteIcon {
    margin-top: auto;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-right: 20px;
    word-spacing: 2px;
    align-items: flex-end;
    margin-left: auto;  
}


@media (max-width: 750px) {
    .main-title {
        font-size: 25px;
        margin-top: 6%;
        text-align: center;
    }
    .note-title {
        font-size: 15px;
    }
    
    .note-text {
        font-size: 10px;
    }

    .input-note {
        width: 70%;
        padding: 30px;
        padding-top: 0px;
        padding-bottom: 5px;
        border-radius: 20px;
        border-color: #52565B;
        border-style: groove;
    }

    .allNotes {
        width: 100%;
        margin-top: 20px;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
    }
}
