.login-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.main-home {
    color: #E6E6E6;
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    border-style: groove;
    border-color: #52565B;
}

.main-title-home {
    font-size: 35px;
    text-align: center;
}

.google-button-image {
    height: 18px;
    border-radius: 5px;
    margin-left: 5px;
}

.footer {
    margin-top: 30px;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
}